@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-Book.woff2");
  font-weight: 350;
}
@font-face {
  font-family: "JetBrainsSans";
  src: url("../fonts/JetBrainsSans-Light.woff2");
  font-weight: 300;
}
html[data-theme=dark] {
  --background: #242424;
  --aside-background: #1a1a1a;
  --header-background: rgba(36, 36, 36, .7);
  --color: #f3f3f3;
  --text-color: rgba(255, 255, 255, .87);
  --secondary-color: #b3b3b3;
  --divider-color: #3a3a3a;
  --theme-color: #ff6b00;
  --theme-color-dark: #cc5307;
  --code-text-color: #d0d0d0;
  --code-background-color: #484848;
  --code-block-background-color: #1e1f22;
  --code-block-border-color: #323438;
  --code-block-text-color: #bbb;
  --blockquote-tip-color: #b3b3b3;
  --blockquote-warning-color: #ff6b00;
  --blockquote-info-color: #00bfa5;
  --tag-unsafe-color: #ff6b00;
  --tag-deprecated-color: #9d9d9d;
  --scrollbar-thumb-color: #404042;
}

html {
  --background: #ffffff;
  --aside-background: #f9f9f9;
  --header-background: rgba(255, 255, 255, .7);
  --color: #000000;
  --text-color: rgba(0, 0, 0, .87);
  --secondary-color: #7f7f7f;
  --divider-color: #e0e0e0;
  --theme-color: #ff6b00;
  --theme-color-dark: #cc5307;
  --code-text-color: #000000;
  --code-background-color: #f9f9f9;
  --code-block-background-color: #fff;
  --code-block-border-color: #ecedf1;
  --code-block-text-color: #000;
  --blockquote-tip-color: #7f7f7f;
  --blockquote-warning-color: #ff6b00;
  --blockquote-info-color: #00bfa5;
  --tag-unsafe-color: #ff6b00;
  --tag-deprecated-color: #808080;
  --scrollbar-thumb-color: #d2d2d2;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  margin: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

body {
  background-color: var(--background);
  color: var(--color);
  margin: 0;
  padding: 0;
  font: 400 14px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  overflow-x: hidden;
}

.link {
  margin: 4px 0;
  color: var(--secondary-color);
  text-decoration: none;
}
.link:hover {
  cursor: pointer;
  color: var(--color);
}
.link.active {
  color: var(--theme-color);
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

aside {
  width: 300px;
  height: 100vh;
  position: fixed;
  background-color: var(--aside-background);
  padding: 20px 20px 20px 50px;
  z-index: 1000;
}
@media (max-width: 1200px) {
  aside {
    display: none;
  }
}
aside .title {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;
  align-items: center;
  text-decoration: none;
}
aside .title span {
  font-size: 17px;
  font-weight: 500;
  color: var(--color);
}
aside nav {
  padding: 20px 0 0 0;
  height: 100%;
}
aside .group {
  border-top: 1px solid var(--divider-color);
  padding: 15px 0;
  height: 100%;
}
aside .group section {
  height: 100%;
  overflow-y: scroll;
}
aside .group .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}
aside .group .items {
  margin: 10px 0;
}
aside .group .items .link {
  display: block;
}

header {
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  -webkit-backdrop-filter: saturate(50%) blur(8px);
  backdrop-filter: saturate(50%) blur(8px);
  background: var(--header-background);
}
header .header-container {
  display: grid;
  padding: 0 50px;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: right;
}
header .header-container ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .header-container ul .change-theme {
  margin: 2px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .header-container ul .change-theme:hover {
  cursor: pointer;
}
header .header-container ul .change-theme:hover svg path {
  fill: var(--secondary-color);
}
header .header-container ul .change-theme svg {
  width: 18px;
  height: 18px;
}
header .header-container ul .change-theme svg path {
  fill: var(--text-color);
}
header .header-container ul li {
  margin: 0 10px;
}
header .header-container ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}
header .header-container ul li a:hover {
  cursor: pointer;
  color: var(--color);
}
header .header-container ul li a.active {
  color: var(--theme-color);
}

article {
  width: 100vw;
  height: calc(100% - 1px);
  display: grid;
  align-content: space-between;
  padding: 0 0 0 300px;
  background-color: var(--background);
}
@media (max-width: 1200px) {
  article {
    padding: 0;
  }
}
article .container {
  display: grid;
  grid-template-columns: calc(100% - 250px) 250px;
  padding: 80px 50px 20px 20px;
}
@media (max-width: 1000px) {
  article .container {
    grid-template-columns: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  article .container .aside {
    display: none;
  }
}
article .container .content {
  padding: 0 30px;
}
@media (max-width: 1000px) {
  article .container .content {
    padding: 0;
  }
}
article .container .content .content-container {
  margin: 0 40px;
  max-width: 800px;
}
article .container .content footer {
  margin-top: 65px;
}
article .container .content footer .edit-info {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
@media (max-width: 700px) {
  article .container .content footer .edit-info {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
article .container .content footer .edit-info .edit-link:hover {
  cursor: pointer;
}
article .container .content footer .edit-info .edit-link:hover a {
  color: var(--theme-color-dark);
}
article .container .content footer .edit-info .edit-link:hover svg {
  fill: var(--theme-color-dark);
}
article .container .content footer .edit-info .edit-link a {
  display: flex;
  align-items: center;
  border: 0;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme-color);
  text-decoration: none;
  transition: color 0.25s;
}
article .container .content footer .edit-info .edit-link svg {
  margin-top: -2px;
  margin-right: 8px;
  width: 14px;
  height: 14px;
  fill: var(--theme-color);
  transition: fill 0.25s;
}
article .container .content footer .edit-info .last-updated {
  line-height: 32px;
  font-size: 13px;
  font-weight: 400;
  color: var(--secondary-color);
}
article .container .content footer .prev-next {
  padding-top: 25px;
  border-top: 1px solid var(--divider-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}
article .container .content footer .prev-next.only-prev .page {
  grid-column: 1;
}
article .container .content footer .prev-next.only-next .page {
  grid-column: 2;
}
article .container .content footer .prev-next .page-link {
  display: block;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  padding: 11px 16px 13px;
  width: 100%;
  height: 100%;
  transition: border-color 0.25s;
}
article .container .content footer .prev-next .page-link:hover {
  cursor: pointer;
  border-color: var(--theme-color);
}
article .container .content footer .prev-next .page-link:hover .title {
  color: var(--theme-color-dark);
}
article .container .content footer .prev-next .page-link .desc {
  display: block;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary-color);
}
article .container .content footer .prev-next .page-link .title {
  display: block;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme-color);
  transition: color 0.25s;
}
article .container .aside {
  padding: 0 0 0 30px;
}
article .container .aside .aside-content {
  height: 100%;
}
article .container .aside .aside-container {
  top: 50px;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 50px;
}
article .container .aside .title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}
article .container .aside ul {
  font-size: 13px;
  list-style: none;
  padding: 0;
  margin: 0;
}
article .container .aside ul li {
  margin: 3px 0;
}
article .container .aside ul li.active a {
  color: var(--color);
}
article .container .aside ul li a {
  color: var(--secondary-color);
  text-decoration: none;
}
article .container .aside ul li a:hover {
  cursor: pointer;
  color: var(--color);
}
article .footer {
  width: 100%;
  margin-top: 50px;
  background-color: var(--aside-background);
  color: var(--secondary-color);
}
article .footer .footer-content {
  padding: 0 50px;
}
@media (max-width: 1000px) {
  article .footer .footer-content {
    padding: 0 20px;
  }
}
article .footer .footer-content .footer-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 1000px) {
  article .footer .footer-content .footer-container {
    flex-direction: column;
    padding: 30px 0;
  }
}
article main {
  font: 300 16px/1.5 "JetBrainsSans", Helvetica, Arial, sans-serif;
  color: var(--text-color);
}
article main h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}
article main h1.main {
  padding-bottom: 50px;
  border-bottom: 1px solid var(--divider-color);
}
article main section {
  padding: 10px 0;
  margin: 25px 0;
  border-top: 1px solid var(--divider-color);
  border-bottom: 1px solid var(--divider-color);
}
article main p {
  overflow-wrap: break-word;
  line-height: 1.7;
}
article main .header-anchor {
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  font-weight: 500;
  user-select: none;
  opacity: 1;
  transition: color 0.25s, opacity 0.25s;
}
article main .header-anchor:hover {
  cursor: pointer;
  color: var(--theme-color-dark);
}
article main a {
  font-weight: 500;
  color: var(--theme-color);
  text-decoration-style: dotted;
  transition: color 0.25s;
}
article main .language-v {
  max-width: 800px;
  margin-bottom: 30px;
}
article main .language-v .playground__footer {
  background-color: var(--background);
}
article main .language-v .playground__wrapper {
  overflow: hidden;
}
article main code {
  font-family: "JetBrains Mono", monospace;
  font-size: 0.875em;
}
article main code.symbol-ref {
  color: var(--theme-color);
}
article main :not(pre) > code {
  white-space: nowrap;
  border-radius: 4px;
  padding: 3px 6px;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
}
article main pre {
  white-space: pre;
  border-radius: 0;
  padding: 10px 20px;
  color: var(--code-block-text-color);
  background-color: var(--code-block-background-color);
  border: 1px solid var(--code-block-border-color);
}
article main table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px 0;
  overflow: auto;
}
article main table th {
  font-weight: 500;
  text-align: left;
  padding: 10px 15px;
  border-bottom: 1px solid var(--divider-color);
}
article main table td {
  padding: 10px 15px;
  border-bottom: 1px solid var(--divider-color);
}
article main kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "JetBrains Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
}
article main blockquote.tip {
  border-left: 3px solid var(--blockquote-tip-color);
  padding: 0 0 0 15px;
  margin: 20px 0;
}
article main blockquote.tip .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blockquote-tip-color);
  margin-bottom: 5px;
}
article main blockquote.tip .message {
  font-size: 14px;
  font-weight: 400;
  color: var(--blockquote-tip-color);
}
article main blockquote.warning {
  border-left: 3px solid var(--blockquote-warning-color);
  padding: 0 0 0 15px;
  margin: 20px 0;
}
article main blockquote.warning .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blockquote-warning-color);
  margin-bottom: 5px;
}
article main blockquote.warning .message {
  font-size: 14px;
  font-weight: 400;
  color: var(--blockquote-warning-color);
}
article main blockquote.info {
  border-left: 3px solid var(--blockquote-info-color);
  padding: 0 0 0 15px;
  margin: 20px 0;
}
article main blockquote.info .title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blockquote-info-color);
  margin-bottom: 5px;
}
article main blockquote.info .message {
  font-size: 14px;
  font-weight: 400;
  color: var(--blockquote-info-color);
}
article main ul {
  list-style: disc;
  padding-left: 20px;
  margin: 10px 0;
}
article main ul li {
  margin: 5px 0;
}
article main .tag {
  display: inline-block;
  padding: 1px 5px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  position: relative;
  top: -10px;
  margin-left: 5px;
}
article main .tag.unsafe {
  color: var(--tag-unsafe-color);
  border: 1px solid var(--tag-unsafe-color);
}
article main .tag.deprecated {
  color: var(--tag-deprecated-color);
  border: 1px solid var(--tag-deprecated-color);
}

/*# sourceMappingURL=style.css.map */
