aside {
  width: 310px;
  height: 100vh;

  position: fixed;

  color: var(--text-color);
  background-color: var(--aside-background);

  padding: 20px 20px 20px 40px;

  z-index: 1000;

  @media (max-width: 1000px) {
    display: none;
  }

  #searchResults {
    display: none;
    position: absolute;
    overflow: scroll;
    height: 600px;
    width: 250px;
    background: var(--search-results-background);
	border-radius: 10px;	
  }

  .title {
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 10px;
    align-items: center;
    text-decoration: none;
    padding: 12px 0px;

    a {
      display: grid;
      grid-template-columns: max-content auto;
      grid-column-gap: 10px;
      align-items: center;
      text-decoration: none;

      img {
        width: 25px;
      }

      span {
        font-size: 17px;
        font-weight: 500;
        color: var(--color);
      }
    }

    .aside-topics-close {
      &:hover {
        cursor: pointer;

        svg {
          path {
            fill: var(--color);
          }
        }
      }

      svg {
        path {
          fill: var(--secondary-color);
        }
      }
    }
  }

  nav {
    height: 100%; 
    padding-bottom: 60px; // leave some space for the top search bar
  }

  .group {
    border-top: 1px solid var(--divider-color);
    padding: 15px 0;
    height: 100%;

    section {
      height: 100%;
      overflow-y: scroll;
    }

    .title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .items {
      margin: 10px 0;

      .link {
        display: block;
        margin: 4px 0;
        color: var(--secondary-color);
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: var(--color);
        }

        &.active {
          color: var(--theme-color);
        }
      }
    }
  }
}
